page-lister {

  ion-item {
    .item-text {
      margin-left: 1rem;
      margin-top: 0.5rem;
    }

    .rounds {
      color: darkgrey;
    }

    .work {
      color: darkgrey;
      font-weight: bold;
    }

    .rest {
      color: darkgrey;
      font-weight: bold;
    }

  }

}
